@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.hidden {
    display: none;
}

header {
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:flex-end;

}

.brandLogo {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 16px;
    top: 5px;
}
.navigationBar__navigationList {
    display: none;
    margin: 8px 0;
}

.navigationBar__navigationList.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 34px;
}

.navigationBar__navigationList li {
    list-style: none;
    background-color: rgb(32, 32, 32);
    padding: 8px;
}

.navigationBar__navigationList li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 8px;
}

.navigationBar__navigationList li a:hover {
    background-color: darkgreen;
    text-decoration: underline;
}

.hamburgerMenu {
    margin: 7px 30px;
}

.hamburgerMenu:hover {
    cursor: pointer;
}

.hamburgerMenu__hamburgerButton {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid white;
    background-color: transparent;
    position: relative;
}

.hamburgerMenu__hamburgerButton:before,
.hamburgerMenu__hamburgerButton:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid white;
    transform: translateY(10px);
}


.hamburgerMenu__hamburgerButton:after {
    transform: translateY(25px);
}

/*.hamburgerMenu__hamburgerButton:focus:after {*/
    /*transform: rotate(-45deg);*/
    /*transition: 0.5s transform linear;*/
/*}*/

/*.hamburgerMenu__hamburgerButton:focus:before {*/
    /*transform: rotate(45deg);*/
    /*transition: 0.5s transform linear;*/
/*}*/

.slider img {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
}

.applicationOffer {
    width: 100%;

}
.applicationOffer__feature {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
}

.applicationOffer__feature .applicationOffer__description {
    margin: 0;
    box-sizing: border-box;
    border-top: 3px solid green;
    text-align: justify;
    padding: 16px 0;
}

.applicationOffer .applicationOffer__icon {
    width: 70px;
    padding: 0 0 10px 0;

}

.companyInformation,
.contactForm {
    width: 100%;
    float: left;
    padding: 16px;
    box-sizing: border-box;
    opacity: 0;
}

.animationFadeIn {
    transition: opacity 1.5s;
    opacity: 1;
}

.companyInformation .companyInformation__companyDetails img {
    float: left;
    margin: 0 8px 8px 0;
}

.companyInformation .companyInformation__companyDetails p {
    text-align: justify;
}

.companyInformation__header {
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 0 0 8px 0;
    border-bottom: 3px solid green;
}

.column-100 {
    width: 100%;
    float: left;
}

.contactForm .contactForm__label,
.contactForm .contactForm__input,
.contactForm .contactForm__textArea,
.contactForm .contactForm__select {
    display: block;
    padding: 8px;
    box-sizing: border-box;
}

.contactForm .contactForm__input,
.contactForm .contactForm__textArea,
.contactForm .contactForm__select {
    border-radius: 5px;
    background-color: #E6E1DF;
    border: 0;
    width: 100%;
}

.contactForm .contactForm__input--submit {
    display: block;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    background-color: green;
    color: black
}

.contactForm .contactForm__input--submit:hover {
    background-color: darkgreen;
}

.contactForm .contactForm__textArea {
    min-height: 200px;
}

.contactForm .contactForm__checkboxElement {
    width: 100%;
    padding: 8px 0;
    float: left;
    margin: 8px 0;
}

.contactForm .contactForm__checkboxElement .contactForm__label--displayedInline {
    padding: 0 0 0 24px;
    width: calc(100% - 24px);
    display: inline;
    position: relative;
}

.contactForm .contactForm__checkboxElement .contactForm__checkbox {
    display: none;
}

.contactForm .contactForm__checkboxElement .contactForm__label--displayedInline:before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 5px;
    background-color: #E6E1DF;
}

.contactForm__checkbox:checked + .contactForm__label--displayedInline:before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 5px;
    background-color: green;
    z-index: 2;
}

.contactForm .contactForm__checkboxElement .contactForm__showAgreement {
    color: blue;
    text-decoration: underline;
}

.contactForm .contactForm__checkboxElement .contactForm__showAgreement:hover {
    cursor: pointer;
    color: cyan;
}

.fetchDataMakeSmaller {
    font-size: 5px;
}

@media screen and (min-width: 600px) {
    .column-50:nth-child(2) {
        margin: 0 4px 0 0;
    }
    .column-50:nth-child(3) {
        margin: 0 0 0 4px;
    }
    .column-50 {
        width: calc(50% - 4px);
        float: left;
    }
    .hamburgerMenu {
        display: none;
    }
    .navigationBar ul {
        display: flex;
    }
    .applicationOffer__feature {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 1000px) {
    .contactForm,
    .companyInformation {
        max-width: 50%;
    }
    .applicationOffer__feature {
        width: 25%;
        float: left;
    }
}